body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

/* LOGIN PAGE */
.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #000428, #004e92);
}

.login-box {
  background: white;
  padding: 30px;
  width: 300px;
  border-radius: 10px;
  text-align: center;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background: #004e92;
  color: white;
  border: none;
  cursor: pointer;
}

#errorMsg {
  color: red;
}

/* MOVIE PAGE */
header {
  background: #111;
  color: white;
  padding: 20px;
  text-align: center;
}

.search-box {
  margin-top: 10px;
}

.search-box input {
  padding: 10px;
  width: 200px;
}

.search-box button {
  padding: 10px;
}

.movie-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

.movie-card {
  background: white;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.movie-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.movie-card a {
  display: inline-block;
  margin-top: 10px;
  color: red;
  text-decoration: none;
  font-weight: bold;
}
